<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <h4> Filtrar Usuario </h4>
    <input type="text" class="form-control alert alert-light" v-model="criterioDeBusqueda"
        placeholder="Ingresar un criterio de busqueda...">
    <br>
    <p  v-if="faltanCaracteres" class="alert alert-danger"> 
        Debe ingresar al menos 3 caracteres 
    </p>
    <div class="card-deck m-0">
        <div class="row">
            <div v-if="faltanCaracteres" class="col" v-for= "persona in personas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ getNombreCompleto(persona) }}</h5>
                        <p class="card-text"> dni {{persona.dni}} </p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
            <div v-if="!faltanCaracteres" class="col" v-for= "persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ getNombreCompleto(persona) }}</h5>
                        <p class="card-text"> dni {{persona.dni}} </p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>     

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Bruno",
                    apellido: "Bonino",
                    correo: "brunobonino1995@gmail.com",
                    dni: "38658340"
                },
                {
                    nombre: "Eugenia",
                    apellido: "Levis",
                    correo: "eugelevis@gmail.com",
                    dni: "40543231"
                },
                {
                    nombre: "Enrique",
                    apellido: "Puente",
                    correo: "epuentes@gmail.com",
                    dni: "30584625"
                },
                {
                    nombre: "Tita",
                    apellido: "Rhodesia",
                    correo: "titar@gmail.com",
                    dni: "92450025"
                },
                {
                    nombre: "Test",
                    apellido: "test",
                    correo: "tester@gmail.com",
                    dni: "11111111"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni} ${persona.correo}`
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase())
                });
            },
            faltanCaracteres(){
                let cant = String(this.criterioDeBusqueda).length;
                return cant < 3 && cant != 0;
            },
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },
        }
    });
</script>